.viewType {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;

    &__header {
        font-weight: 600;
        font-size: 32px;
        color: $mainTextColor;
    }

    .viewTypeWrapper {
        display: flex;
        align-items: center;
    }

    &__item {
        font-weight: 400;
        font-size: 12px;
        color: #A9A9A9;
        text-align: center;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:not(:last-child) {
         margin-right: 24px;
        }

        img {
            margin-right: 5px;
            width: 13px;
            height: 13px;
        }
        

    }

    &__active {
        color: $mainTextColor;
    }
}